__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
dist/
build/
*.spec
.DS_Store
.idea/
*.mp4
*.avi
test_data/
.vscode/
.conda/
*.ipynb_checkpoints/
*.log
*.csv
*.json
*.pkl
*.h5
*.pth
*.pt
*.ckpt